body{
  margin: 0;
  font-family: 'Barlow', sans-serif;
} 

.header {
  height: 115px;
  position: sticky;
  background: #fdf7ea;
  color: #fff;
  background-image: url("./halftone-burst.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: solid 3px #fff;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

#main-section {
  background-color: #6fc7c4;
}

#column-left-style {
  background-color: #fdf7ea;
  margin-right: 30px;
  
}

#column-right-style {
  background-color: #fdf7ea;
}

.column {
  border-radius: 25px!important;
}

.question {
  padding: 0 0 40px 0;
}

.question-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  padding-bottom: 10px;
}

.picture {
  padding-bottom: 15px;
}

.name {
  padding: 0 25px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.address {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  padding: 0 0 40px 0;
}

.rating {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

