

/* og */

body{
  margin: 0;
  font-family: 'Barlow', sans-serif;
} 

.navbar {
  height: 115px;
  position: sticky;
  background: #fdf7ea!important;
  background-image: url("./halftone-burst.png")!important;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  border-bottom: solid 3px #fff!important;
  padding-right: 50px!important;
}

.navbar-link, a.navbar-item {
  color: #6fc7c4!important;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  cursor: pointer;
}
/* CSS FOR ACCORDION */
.accordion {
  background-color: #6fc7c4!important;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color:#fdf7ea!important ; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
/* END ACCORDION CSS */
#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

#main-section {
  background-color: #6fc7c4;
}

#column-left-style {
  background-color: #fdf7ea;
  margin-right: 30px;
  
}

#column-right-style {
  background-color: #fdf7ea;
}

.column {
  border-radius: 25px!important;
}

.question {
  padding: 0 0 40px 0;
}

.question-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  padding-bottom: 10px;
}

.picture {
  padding-bottom: 15px;
}

.name {
  padding: 0 25px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  display: block;
  clear: both;
}

.address {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  padding: 0 25px 40px 25px;
  display: block;
  clear: both;
  font-size: 14px;
}

.rating {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  padding-right: 20px;
}

.categories {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.button {
  border-radius: 5px!important;
}
